form {
    display: flex;
    flex-flow: column wrap;
    gap: 1em;
    text-align: center;
    padding: 1em;
    max-width: 400px;
    margin: 0 auto;
}

form label {
    display: block;
}

form input[type="submit"] {
    padding: 0.8em;
    background: var(--tagColor);
    color: var(--textColor);
    font-weight: bold;
    border:none;
    border-radius: 5px;
}
